@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@media screen and (max-width: 600px) {
    …
}

body {
    background-color: rgn(230, 230, 230);
    margin: 0;
    font-family: 'Exo', sans-serif;
}

header {
    height: 80px;
    display: grid;
    grid-template-columns: 5fr 4fr 1fr;
    background-color: rgb(28, 28, 28);
    color: white;
    font-size: 150%;
}

.icon {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7%;
    
}

.main-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.links {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}

.write-to-us {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    background-color: rgb(89, 100, 194);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

.lng {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

main {
    background-color: rgb(78, 84, 200);
    height: 30%;
}
.main-txt {
    text-align: center;
    color: white;
}



.main-txt .one {
    font-size: 60px;
    padding-top: 190px;
    text-shadow:  0 5px 10px rgb(44, 43, 43);
}



.main-txt .two {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow:  0 5px 10px rgb(44, 43, 43);
}

.main-txt .three {
    font-size: 30px;
    padding-bottom: 260px;
    text-shadow:  0 5px 10px rgb(44, 43, 43);
}






*{
    margin: 0px;
    padding: 0px;
}




.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100px;
    box-shadow: 0 10px 10px rgb(0, 0, 0);;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.circles li{
    position:absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 150px;
    /*background: rgba(255, 255, 255, 0.2);*/
    animation: animate 25s linear infinite;
    bottom: -200px;
    
}

.circles li:nth-child(1){
    left: 25%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 5s;
}


.circles li:nth-child(2){
    left: 10%;
    background-image: url(img/icon.png);
    background-size: 100px;
    width: 100px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    background-image: url(img/icon.png);
    background-size: 90px;
    width: 90px;
    height: 80px;
    animation-delay: 1s;
}

.circles li:nth-child(7){
    left: 35%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    background-image: url(img/icon.png);
    background-size: 100px;
    width: 100px;
    height: 90px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    background-image: url(img/icon.png);
    background-size: 148px;
    width: 150px;
    height: 135px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        }

    100%{
        transform:translateY(-1000px) rotate(790deg);
        opacity: 0;
    }

}

.area-2 {
    background: #d8d8e2;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.photo-and-text {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 20px;
}

.photo-for-text {
    margin-right: 200px;
    box-shadow: 0 10px 10px rgb(0, 0, 0);;
}

.text-after-photo {
    font-size: 1.5em;
    width: 40%;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.photo-and-text-reverse {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-right: 20px;
}

.photo-for-text-reverse {
    margin-left: 200px;
    box-shadow: 0 10px 10px rgb(0, 0, 0);;
}

.text-after-photo-reverse {
    font-size: 1.5em;
    width: 40%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}



footer {
    background-color: #8388e0; 
}

.we-are-with-you {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 20px;
    text-shadow:  0 5px 10px rgb(44, 43, 43);
  }

  .we-are-with-you-number {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .write-us {
    display: grid;
  
    margin-top: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .write {
    padding: 0px;
    margin: 0px;
  }
  
  .viber-ap {
    width: 55px;
    padding: 2px;
  }
  
  .facebook-ap {
    width: 55px;
    padding: 2px;
  }
  
  .telegram-ap {
    width: 55px;
  }
  
  
  
  .whatsup-ap {
    width: 55px;
    padding: 2px;
  }
  
  .footer-call {
    color: white;
    padding: 20px;
  }
  
  .footcall {
    width: 30px;
  }
